[workspace]
resolver = "2"
members = [
    "alumet",
    "alumet-api-dynamic",
    "alumet-api-macros",
    "app-agent",
    "plugin-csv",
    "plugin-cgroupv2",
    "plugin-influxdb",
    "plugin-nvidia",
    "plugin-oar2",
    "plugin-perf",
    "plugin-procfs",
    "plugin-rapl",
    "plugin-relay",
    "plugin-socket-control",
    "test-dynamic-plugin-rust",
    "test-dynamic-plugins",
]

# To apply the following lint settings to a workspace member,
# set "lints.workspace" to true in the member's Cargo.toml.
[workspace.lints.clippy]
redundant_field_names = "deny"
needless_return = "deny"
needless_borrow = "deny"
comparison_to_empty = "deny"
single_char_pattern = "deny"
unused_enumerate_index = "deny"
useless_format = "deny"
