# define variables used in robot framework test suites
# target node to install alumet
NODE=test node
# gateway or jumphost to connect to the target node
# it could be an alias name or IP address
GATEWAY=IP address of the gateway
# credentials used to logon on the target node
USERNAME=my name
KEY=~/.ssh/id_rsa
